<div class="appview" *ngIf="countDownIsVisible">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="countdown">
                <div class="row">
                    <div class="col-xs-6">
                        <countdown [config]="{stopTime: 1598106240,format: 'dd'}"></countdown>
                    </div>
                    <div class="col-xs-6" style="padding-left: 15px;">
                        <p>Tage</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <countdown [config]="{stopTime: 1598106240,format: 'HH'}"></countdown>
                    </div>
                    <div class="col-xs-6" style="padding-left: 15px;">
                        <p>Stunden</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <countdown [config]="{stopTime: 1598106240,format: 'mm'}"></countdown>
                    </div>
                    <div class="col-xs-6" style="padding-left: 15px;">
                        <p>Minuten</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-view" *ngIf="!countDownIsVisible">
    <h4 style="color: white;text-align: center;padding-top: 15px;">{{fileComment}}</h4>
    <video *ngIf=" !countDownIsVisible&&fileIsVideo" src="{{fileSource}}" autoplay="true" loop="true" playsinline
        controls></video>
    <img *ngIf="!countDownIsVisible&&!fileIsVideo" src="{{fileSource}}">

    <div class="text-center" style="padding-top: 20px;">
        <button type="button" class="btn btn-light" (click)="loadRandomFile()">Noch
            eins!</button>
    </div>
</div>

<div style="padding-top: 30px;">
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Made with ♥ by Eli</small>
        </div>
    </footer>
</div>