.countdown{
    font-size: 60px;
    color: #fff;
}

body {
    background-color: #333;
}

.appview{
    height: 100%;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  img{
      max-height: 90% !important;
      margin: auto;
      display: block;
      padding-top: 5px;

    }
  
  video{
    max-height: 90% !important;
    margin: auto;
    display: block;
    padding-top: 5px;
    }

    .content-view{
        display: unset;

    }

